<h1 matDialogTitle>Update Deliverable</h1>

<form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <mat-card>
<!--            <mat-card-header></mat-card-header>-->
            <div><mat-label class=""><b>Project: </b> {{this.projectname}}</mat-label></div>
                <div><mat-label><b>Catogory:</b> {{this.catagory}}</mat-label></div>
                <div><mat-label><b>Contract:</b> {{this.contractName}}</mat-label></div>
                <div><mat-label><b>Due:</b> {{this.dueDate}}</mat-label></div>
                <div><mat-label><b>Recipients:</b> {{this.recipients}}</mat-label></div>
                <div><mat-label><b>Responsible:</b> {{this.responsible}}</mat-label></div>
                <div><mat-label><b>Description:</b> {{this.description}}</mat-label></div>
                <div><mat-label><b>Notes:</b> {{this.notes}}</mat-label></div>

        </mat-card>



        <div fxFlex="50" class="pr-1">
            <mat-checkbox formControlName="isComplete">Is Complete</mat-checkbox>
        </div>
        <span fxFlex></span>



        <mat-form-field class="full-width">
            <input matInput name="HoursToComplete" formControlName="hoursToComplete" placeholder="Hours to complete">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput type="datetime-local" formControlName="Completed" placeholder="Date Completed (WIP)">
        </mat-form-field>

        <div fxFlex="50" class="pr-1">
            <div fxFlex="100" class="mt-1">
                <button mat-raised-button color="primary">Save</button>
                <span fxFlex></span>
                <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
            </div>
        </div>


    </div>

</form>
