<h1 matDialogTitle>Add Obligation</h1>

<!--get misops report button-->

<form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <mat-form-field class="full-width">
            <mat-select formControlName="projectId" placeholder="Select project">
                <mat-option *ngFor="let obj of projects" [value]="obj.projectId">
                    {{obj.projectName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput type="datetime-local" formControlName="timestamp" placeholder="timestamp">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="startMonth" formControlName="equipmentName" placeholder="Impacted Equipment">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="interval" formControlName="type" placeholder="Type">
        </mat-form-field>

        <div class="full-width">
            Invoiceable: <input type="checkbox" formControlName="invoiceable" />
        </div>

        <div class="full-width">
            MAL: <input type="checkbox" formControlName="mal" />
        </div>

        <div class="full-width">
            Breaker Closed: <input type="checkbox" formControlName="breakerClosed" />
        </div>

        <mat-form-field class="full-width">
            <input matInput name="recipients" formControlName="breakerName" placeholder="Breaker Name">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="recipients" formControlName="description" placeholder="Description">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput formControlName="description" placeholder="description">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput formControlName="notes" placeholder="Notes">
        </mat-form-field>

        <div fxFlex="50" class="pr-1">
            <div fxFlex="100" class="mt-1">
                <button mat-raised-button color="primary">Save</button>
                <span fxFlex></span>
                <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
            </div>
        </div>


    </div>

</form>

