
<!--<mat-card class="p-24">-->
<!--    <div fxLayout="row wrap">-->
<!--        <div fxFlex="70">-->
<!--            <mat-card-title>Selected Project: {{projectService.selectedProject['name']}} </mat-card-title>-->
<!--        </div>-->
<!--    </div>-->
<!--</mat-card>-->

<div class="m-333">
    <button mat-raised-button class="mb-05" color="primary" (click)="showAddOperation()">Add Operation</button>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="isPending" class="session-progress"></mat-progress-bar>

<mat-card-content class="p-0">

    <ngx-datatable class="material ml-0 mr-0" [rows]="items_filtered" [columnMode]="'force'" [headerHeight]="50"
                   [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

        <!--        <ngx-datatable-column name="ID" [flexGrow]="1">-->
        <!--            <ng-template let-row=row ngx-datatable-cell-template>-->
        <!--                {{row?.id}}-->
        <!--            </ng-template>-->
        <!--        </ngx-datatable-column>-->

        <!--        <ngx-datatable-column name="Project" [flexGrow]="1">-->
        <!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
        <!--                {{row?.project}}-->
        <!--            </ng-template>-->
        <!--        </ngx-datatable-column>-->

        <ngx-datatable-column name="Project" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.projectName}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Timestamp" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.timestamp}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Impacted Equipment" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.equipmentName}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="type" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.type}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="invoiceable" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.invoiceable}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Mal" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.mal}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Breaker Closed?" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.closedBreaker}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Breaker" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.breakerName}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Notes" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.notes}}
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>

</mat-card-content>

