<h1 matDialogTitle>{{this.title}}</h1>

<form [formGroup]="myForm" (ngSubmit)="submit(myForm)">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">

        <mat-form-field class="full-width">
            <input matInput name="frequency" formControlName="frequency" placeholder="Frequency">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="delay" formControlName="delay" placeholder="Delay">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="startMonth" formControlName="startMonth" placeholder="startMonth">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="enabled" formControlName="enabled" placeholder="Enabled">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="catagory" formControlName="catagory" placeholder="Catagory">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="repsonsible" formControlName="responsible" placeholder="Responsible">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="contractName" formControlName="contractName" placeholder="Contract">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="HoursToComplete" formControlName="description" placeholder="Description">
        </mat-form-field>

<!--        <mat-form-field class="full-width">-->
<!--            <input matInput type="datetime-local" formControlName="enactDate" placeholder="Enact Date">-->
<!--        </mat-form-field>-->

        <mat-form-field class="full-width">
            <input matInput name="recipients" formControlName="recipients" placeholder="Recipients">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput name="notes" formControlName="notes" placeholder="Notes">
        </mat-form-field>







        <div fxFlex="50" class="pr-1">
            <div fxFlex="100" class="mt-1">
                <button mat-raised-button color="primary">Save</button>
                <span fxFlex></span>
                <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
            </div>
        </div>




    </div>

</form>
