<mat-card class="p-24">
    <div fxLayout="row wrap">
        <div fxFlex="70">
            <mat-card-title>Selected Project: {{projectService.selectedProject['name']}} </mat-card-title>
        </div>
    </div>

</mat-card>

<div class="m-333">
    <button mat-raised-button class="mb-05" color="primary" (click)="showAddObligation('',true)">Add obligation</button>
</div>

<mat-form-field class="margin-333" style="width: 100%">
    <input
            matInput
            placeholder="Type to filter all columns"
            value=""
            (keyup)='updateFilter($event)'
            [formControl]="myForm.controls['filterText']">
</mat-form-field>

<mat-progress-bar mode="indeterminate" *ngIf="isPending" class="session-progress"></mat-progress-bar>

<mat-card-content class="p-0">

    <ngx-datatable class="material ml-0 mr-0" [rows]="items_filtered" [columnMode]="'force'" [headerHeight]="50"
                   [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

        <ngx-datatable-column name="Catagory" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.catagory}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Contract" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.contract}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Description" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.description}}
            </ng-template>
        </ngx-datatable-column>

<!--        <ngx-datatable-column name="Responsible" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.responsible}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->

        <ngx-datatable-column name="frequency" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.frequency}}
            </ng-template>
        </ngx-datatable-column>

<!--        <ngx-datatable-column name="Enabled" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.enabled}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->

        <ngx-datatable-column name="Edit" [flexGrow]=".25">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                        (click)="showAddObligation(row, false)">
                    <mat-icon>edit</mat-icon>
                </button>
                <!-- <button mat-icon-button mat-sm-button color="primary" (click)="deleteItem(row)"><mat-icon>assignment</mat-icon></button> -->
            </ng-template>
        </ngx-datatable-column>



<!--        <ngx-datatable-column name="Date Enacted" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.enactDate}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->

<!--        <ngx-datatable-column name="Delay" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.delay}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->

<!--        <ngx-datatable-column name="Start Month" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.startMonth}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->

<!--        <ngx-datatable-column name="Interval" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.interval}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->

<!--        <ngx-datatable-column name="Recipients" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.recipients}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->

<!--        <ngx-datatable-column name="Notes" [flexGrow]="1">-->
<!--            <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                {{row?.notes}}-->
<!--            </ng-template>-->
<!--        </ngx-datatable-column>-->


    </ngx-datatable>

</mat-card-content>
