<!--<mat-card class="p-24">-->
<!--    <div fxLayout="row wrap">-->
<!--        <div fxFlex="70">-->
<!--            <mat-card-title>Selected Project: {{projectService.selectedProject['name']}} </mat-card-title>-->
<!--        </div>-->
<!--    </div>-->
<!--</mat-card>-->

<div class="m-333">
    <button mat-raised-button class="mb-05" color="primary" (click)="computeSchedule()">Compute Schedule</button>
</div>

<mat-form-field class="margin-333" style="width: 100%">
    <input
            matInput
            placeholder="Type to filter all columns"
            value=""
            (keyup)='updateFilter($event)'
            [formControl]="myForm.controls['filterText']">
</mat-form-field>

<mat-progress-bar mode="indeterminate" *ngIf="isPending" class="session-progress"></mat-progress-bar>

<mat-card-content class="p-0">

    <ngx-datatable class="material ml-0 mr-0" [rows]="items_filtered" [columnMode]="'force'" [headerHeight]="50"
                   [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

        <ngx-datatable-column name="Project" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.project}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Catagory" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.catagory}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Contract" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.contract}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Description" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.description}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Due" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.due}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actions" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                        (click)="editDeliverable(row)">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button mat-sm-button color="primary" class="mr-1">
                    <mat-icon>attach_files</mat-icon>
                </button>

            </ng-template>
        </ngx-datatable-column>


    </ngx-datatable>

</mat-card-content>

