<div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
        <mat-card-content>
            <div class="text-center pt-8 pb-16">
                <img width="150" src="assets/images/ELIMS_Logo_color.gif" alt="" class="mb-05">
                <h2>Thank you for signing up!</h2>
                <p class="text-muted m-0">We will be in contact shortly</p>
            </div>
            <div>
                All new accounts with Akuo USA must be verbally verified. An Akuo USA administrator will reach out to your
                company's contact to verify your information. An email notification with login information will be
                sent to you when your account has been approved.
            </div>

        </mat-card-content>
    </mat-card>
</div>

