<div class="m-333">
    <button mat-raised-button class="mb-05" color="primary" (click)="showAddProject()">Add project</button>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="isPending" class="session-progress"></mat-progress-bar>

<mat-card-content class="p-0">

    <ngx-datatable class="material ml-0 mr-0" [rows]="items_filtered" [columnMode]="'force'" [headerHeight]="50"
                   [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">

        <ngx-datatable-column name="ID" [flexGrow]="1">
            <ng-template let-row=row ngx-datatable-cell-template>
                {{row?.id}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row?.name}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actions" [flexGrow]="1">

            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-raised-button class="mb-05" color="primary" (click)="viewObligations(row?.id)">View Obligations</button>
<!--                {{row?.name}}-->
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>

</mat-card-content>